* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	background :#5D405C;
	font-family: Arial;
	color: white;
}
img {
	margin: 0 auto;
	max-height: 70vh;
	width: 100%;
}
.container { 
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}
p {
	font: italic;
	line-height: 1.5;
}